#gym==0.12.5
#pygame==1.9.6
gym
pygame
opencv-python
parl
matplotlib
pip install gym[box2d]
visdom
carla
#paddlepaddle-gpu
##Install paddle or torch wrt which base you are using(paddle or torch)
#--find-links https://download.pytorch.org/whl/torch_stable.html
#torch
